#carbon_fields_container_one_container{
    background-color: #0b9ec3;
    border: 8px solid #0b9ec3;
    margin-bottom: 10px;
}
#carbon_fields_container_two_container{
    background-color: #cff3f1;
    border:  8px solid #cff3f1;
    margin-bottom: 10px;
}
#carbon_fields_container_three_container{
    background-color: #cccbc7;
    border:  8px solid #cccbc7;
    margin-bottom: 10px;
}
#carbon_fields_container_four_container{
    background-color: #d6b79f;
    border:  8px solid #d6b79f;
    margin-bottom: 10px;
}
#carbon_fields_container_five_container{
    background-color: #eed5b2;
    border:  8px solid #eed5b2;
    margin-bottom: 10px;
}
#carbon_fields_container_six_container{
    background-color: #3c7f91;
    border: 8px solid #3c7f91;
    margin-bottom: 10px;
}
#carbon_fields_container_seven_container{
    background-color: #936f53;
    border:  8px solid #936f53;
    margin-bottom: 10px;
}
#carbon_fields_container_eight_container{
    background-color: #dadae4;
    border:  8px solid #dadae4;
    margin-bottom: 10px;
}
#carbon_fields_container_nine_container{
    background-color: #e96c6c;
    border:  8px solid #e96c6c;
    margin-bottom: 10px;
}
#carbon_fields_container_ten_container{
    background-color: #7b8fcf;
    border:  8px solid #7b8fcf;
    margin-bottom: 10px;
}
#carbon_fields_container_eleven_container{
    background-color: #85dd85;
    border:  8px solid #85dd85;
    margin-bottom: 10px;
}