#wpadminbar{
  display: none !important;
}
*{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
#mobile_screen{
  background-color: #E5E5E5;
  font-family: 'Montserrat', sans-serif;
  width: auto;
  max-height:  -webkit-fill-available;
  max-height: 100vh;
  height: calc(var(--vh, 1vh) * 100) !important;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  h1{
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #FF6072;
  }
  h2{
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FF6072;
  }
  h3{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FF6072;
  }

  p{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
  }

  #frame_1, #frame_2, #frame_3,
  #frame_4, #frame_5, #frame_6,
  #frame_7, #frame_8, #frame_9,
  #frame_10, #frame_11{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 0;
    cursor: default;
    height: 100%;
    min-width: 100vw;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: transform 0.7s ease-out;
    -moz-transition: transform 0.7s ease-out;
    -o-transition: transform 0.7s ease-out;
    transition: transform 0.7s ease-out;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    z-index: 1;

    .block_background{
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      margin: 0;
      z-index: 1;
      height: 100%;
      width: 100%;
      object-fit: cover;

      .background{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .absolute{
      position: absolute;
      background: transparent;
      min-height: 100%;
      min-width: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      display: flex;
      flex-direction: column;
      padding: 5px 10px;

      .pagination{ //Полосы вверху - блок
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        width: 80%;
        height: 2px;
        position: relative !important;
        margin: 20px auto 5px;
        z-index: 6;

        .tab{
          height: 2px;
          width: calc(100% / 11);
          width: -webkit-calc(100% / 11);
          margin: auto 2px;
          background: rgba(171, 161, 152, 0.51);
          border: none;
          border-radius: 2px;
          outline: none;
          position: relative !important;
          cursor: pointer;

          & .white{
            height: 100%;
            width: 100% !important;
            background: white;
            border-radius: inherit;
            border: inherit;
          }

          & .active{
            width: 0%;
            height: 100%;
            background: white;
            border-radius: inherit;
            border: inherit;
          }
        }
      }

      .animation_content{
        position: relative !important;
        flex-grow: 1;
        margin: 0 5px;
        padding: 0;

        div{
          position: absolute;
        }
        .info_block{
          border-radius: 15px;
        }
        .bnfy-enter{
          border-radius: inherit;

        }
        .icon{
          width: 25px;
          height: 25px;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }

        .img_icon{
          width: 42px;
          height: 42px;
          z-index: 4;
          position: absolute;
          left: calc(50% - 21px);

        }
        .info_block_top,
        .info_block_bottom{
          .bnfy-enter{
            background: #FFFCF2;
            opacity: 0.9;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
          }
        }
        .info_block_top{
          padding-top: 20px;
          border-radius: 15px;
          .bnfy-enter{
           border-radius: inherit;
            width: 100%;
            height: 100%;
            position: relative;
          }
        }
        .info_block_bottom{
          padding-bottom: 20px;
          border-radius: 15px;
          .bnfy-enter{
            border-radius: inherit;
            width: 100%;
            height: calc(100% - 20px);
           }
        }
      }
    }
  }
  .background-video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .video_control_box{
    height: 100%;
    width: 150px;
    z-index: 4;
    background: transparent;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .video-play {
    position: relative;
    margin: auto;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #fff;
    z-index: 5;
    cursor: pointer;
    transition: 0.2s ease;
    transition-property: opacity, visibility;
    text-align: center;


    &:before{
      position: absolute;
      top: 15px;
      left: 21px;
      content: "";
      display: block;
      margin: auto;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-top-width: 12px;
      border-bottom-width: 12px;
      border-left-color: #fff;
      border-right-width: 0;
      transition: transform 0.2s ease;
    }
  }
  #frame_1{
    .info_block{
      position: absolute;
      top: 30px;
      left: calc((100% - 330px) / 2);
      left: -webkit-calc((100% - 330px) / 2);
      width: 330px;
      height: 131px;
      .bnfy-enter{
        background: #FFFCF2;
        opacity: 0.9;
        width: 100%;
        height: 100%;
      }
    }
  }

  #frame_2{

    #el_28917 {
      top: 87%;
      left: 300px;
      z-index: 3;
    }
    .img_28917,.img_28914, .img_28918 {
      width: 20px;
      height: 16px;
    }
    #el_28914 {
      top: 90%;
      left: 310px;
      z-index: 2;
    }

    #el_28918 {
      top: 86%;
      left: 320px;
      z-index: 4;
    }
    #img_16994{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 5px;
      width: 100%;
    }
    .two_infoBlock {
      position: absolute;
      top: 80%;
      left: 0;
      z-index: 5;
      width: 298px;
      height: 79px;

      .two_info{
        position: relative !important;
        width: 260px;
        height: 71px;
        background: #FFFCF2;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 0px 15px 15px 15px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
      }

    }

  }

  #frame_3{

    .info_block{
      top: 75%;
      left: calc((100% - 306px) / 2);
      left: -webkit-calc((100% - 306px) / 2);
      z-index: 2;
      width: 306px;
      height: 110px;

      .bnfy-enter{
        padding: 20px;
        background: #FFFCF2;
        opacity: 0.9;

        &:before{
          content: '';
          position: absolute;
          left: calc(50% - 21px);
          top:-20px;
          background-blend-mode: multiply;
          background-color: inherit;
          background-image: url("../image/chain.png");
          background-position: center;
          background-repeat: no-repeat;
          height: 42px;
          width: 42px;
          border-radius: 50%;
        }
      }


    }
    .info_block_bottom{
      top: 75%;
      left: calc((100% - 306px) / 2);
      left: -webkit-calc((100% - 306px) / 2);
      z-index: 3;
      width: 306px;
      height: 123px;
      .bnfy-enter{
        &:after{
          content: '';
          position: absolute;
          left: calc(50% - 21px);
          bottom: -21px;
          background-blend-mode: multiply;
          background-color: inherit;
          background-image: url("../image/short_code.png");
          background-position: center;
          background-repeat: no-repeat;
          height: 42px;
          width: 42px;
          border-radius: 50%;
        }
      }
    }

  }

  #frame_4{

    .info_block{
      top: 10px;
      left: calc((100% - 306px) / 2);
      left: -webkit-calc((100% - 306px) / 2);
      width: 306px;
      height: 192px;
      padding-top: 20px;
    }
    .bnfy-enter{
      position: relative !important;
      width: 100%;
      height: 100%;
      background: #FFFCF2;
      opacity: 0.9;
      padding: 5px;

      &:before{
        content: '';
        position: absolute;
        left: calc(50% - 21px);
        top:-20px;
        background-blend-mode: multiply;
        background-color: inherit;
        background-image: url("../image/share.png");
        background-position: center;
        background-repeat: no-repeat;
        height: 42px;
        width: 42px;
        border-radius: 50%;
      }

    }

  }

  #frame_5{

     .info_block_top{
       top: calc(65% - 106px);
       top: -webkit-calc(65% - 106px);
       left: calc((100% - 306px) / 2);
       left: -webkit-calc((100% - 306px) / 2);
       z-index: 3;
       width: 306px;
       height: 102px;
       .bnfy-enter{

         padding: 5px;

         &:before{
           content: '';
           position: absolute;
           left: calc(50% - 21px);
           top:-20px;
           background-blend-mode: multiply;
           background-color: inherit;
           background-image: url("../image/price.png");
           background-position: center;
           background-repeat: no-repeat;
           height: 42px;
           width: 42px;
           border-radius: 50%;
         }
       }
     }
    .info_block_bottom{
      top: 65%;
      left: calc((100% - 306px) / 2);
      left: -webkit-calc((100% - 306px) / 2);
      z-index: 2;
      width: 306px;
      height: 168px;

      .bnfy-enter{

        padding: 5px 10px;

        &:after{
          content: '';
          position: absolute;
          left: calc(50% - 21px);
          bottom: -21px;
          background-blend-mode: multiply;
          background-color: inherit;
          background-image: url("../image/schedule.png");
          background-position: center;
          background-repeat: no-repeat;
          height: 42px;
          width: 42px;
          border-radius: 50%;
        }
      }
    }

  }

  #frame_6{

    .info_block{
      width: auto;
      height: auto;
      .bnfy-enter{
        background: #FFFCF2;
        opacity: 0.9;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;

        p{
          line-height: normal;
          height: auto;
          width: 60%;

        }
        img{
          width: 25px;
          height: 25px;
        }
      }
      #img_176375,
      #img_25342{
        justify-content: center;
        &.bnfy-enter{
          padding: 10px 20px;
        }
        p{
          width: 100%;
          color: #FF6072;
        }
      }
    }

    #el_176375 {
    top: 5%;
    left: calc((100% - 330px) / 2);
    left: -webkit-calc((100% - 330px) / 2);
    z-index: 6;
    width: 330px;
    height: 59px;
    }
    #el_620 {
      top: calc(5% + 59px + 20px);
      top: -webkit-calc(5% + 59px + 20px);
      left: calc((100% - 330px) / 2);
      left: -webkit-calc((100% - 330px) / 2);
      z-index: 5;
      width: 330px;
      height: 90px;

    }
    #el_621 {
      top: calc(5% + 59px + 20px * 2 + 90px );
      top: -webkit-calc(5% + 59px + 20px * 2 + 90px );
      left: calc((100% - 330px) / 2);
      left: -webkit-calc((100% - 330px) / 2);
      z-index: 4;
      width: 330px;
      height: 90px;

    }

    #el_622 {
      top: calc(5% + 59px + 20px * 3 + 90px * 2 );
      top: -webkit-calc(5% + 59px + 20px * 3 + 90px * 2 );
      left: calc((100% - 330px) / 2);
      left: -webkit-calc((100% - 330px) / 2);
      z-index: 3;
      width: 330px;
      height: 90px;

    }

    #el_25342 {
      top: calc(5% + 59px + 20px * 4 + 90px * 3 );
      top: -webkit-calc(5% + 59px + 20px * 4 + 90px * 3 );
      left: calc((100% - 330px) / 2);
      left: -webkit-calc((100% - 330px) / 2);
      z-index: 2;
      width: 330px;
      height: 74px;

    }
  }

  #frame_7{
    .animation_content{
      .bnfy-enter{
        background: #FFFCF2;
        opacity: 0.9;
        width: 100%;
        height: 100%;
        padding: 10px;
      }


      #el_172256 {
        top: 5%;
        left: 0;
        z-index: 9;
        width: 330px;
        height: 59px;

      }
      #el_70 {
        top: calc(5% + 59px + 20px);
        top: -webkit-calc(5% + 59px + 20px);
        right: 0;
        z-index: 8;
        width: 200px;
        height: 50px;
        border-top-right-radius: 0;

      }
      #el_71 {
        top: calc(5% + 59px + 50px + 20px * 2);
        top: -webkit-calc(5% + 59px + 50px + 20px * 2);
        left: 0;
        z-index: 7;
        width: 250px;
        height: 50px;
        border-top-left-radius: 0;

      }
      #el_72 {
        top: calc(5% + 59px + 50px * 2 + 20px * 3);
        top: -webkit-calc(5% + 59px + 50px * 2 + 20px * 3);
        right: 0;
        z-index: 6;
        width: 200px;
        height: 50px;
        border-top-right-radius: 0;

      }

      #el_73 {
        top: calc(5% + 59px + 50px * 3 + 20px * 4);
        top: -webkit-calc(5% + 59px + 50px * 3 + 20px * 4);
        left: 0;
        z-index: 5;
        width: 250px;
        height: 50px;
        border-top-left-radius: 0;
      }
      #el_74 {
        top: calc(5% + 59px + 50px * 4 + 20px * 5);
        top: -webkit-calc(5% + 59px + 50px * 4 + 20px * 5);
        right: 0;
        z-index: 4;
        width: 290px;
        height: 50px;
        border-top-right-radius: 0;
      }
      #el_75 {
        top: calc(5% + 59px + 50px * 5 + 20px * 6);
        top: -webkit-calc(5% + 59px + 50px * 5 + 20px * 6);
        left: 0;
        z-index: 3;
        width: 330px;
        height: 50px;
        border-top-left-radius: 0;
      }
      #el_76 {
        top: calc(5% + 59px + 50px * 6 + 20px * 7);
        top: -webkit-calc(5% + 59px + 50px * 6 + 20px * 7);
        right: 0;
        z-index: 2;
        width: 300px;
        height: 50px;
        border-top-right-radius: 0;
      }
    }
  }

  #frame_8, #frame_9, #frame_10{

    .animation_content{
      max-height: 100px;
      height: fit-content;
      .info_block {
        top: 20px;
        left: calc((100% - 330px) / 2);
        left: -webkit-calc((100% - 330px) / 2);
        z-index: 2;
        width: 330px;
        height: 59px;
        .bnfy-enter{
          background: #FFFCF2;
          opacity: 0.9;
          width: 100%;
          height: 100%;
        }
      }
    }
 }

  #frame_11{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #E9E9E9;

    .absolute{
      position: relative !important;
      .animation_content{
        #el_176351{
          width: 330px;
          position: relative;
          margin: 20px auto 10px;
          z-index: 8;
          height: 131px;
          .bnfy-enter{
            background: #FFFCF2;
            opacity: 0.9;
            width: 100%;
            height: 100%;
          }
        }

        form{
          width: 330px;
          position: relative;
          margin: 10px auto;
          z-index: 8;

          input {
            width: 330px;
            height: 54px;
            background: #ffffff;
            font-family: Raleway, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 38px;
            color: black;
            border: 0;
            outline: none;
            padding-left: 15px;
            margin: 10px auto;


          }
          input::placeholder{
            color: #C5C5C5;
            font-family: inherit;
            font-size: inherit;
            font-weight: 100;
          }
          .button{
            width: 330px;
            height: 54px;
            left: 15px;
            top: 369px;
            background: linear-gradient(95.99deg, #FC3B3B -57.5%, #FFCF3B 112.05%);
            border-radius: 10px;
            border: none;
            text-align: center;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 30px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin: 10px auto;


          }
          h3{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 30px;
            text-align: center;
            text-transform: uppercase;
            color: #000000;
          }
        }

        #el_176364 {
          position: relative;
          flex-grow: 1;
          width: 330px;
          margin: 10px auto;
          z-index: 2;
          height: 79px;
          .bnfy-enter{
            background: #FFFCF2;
            opacity: 0.9;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .active{
    z-index: 99;
    left:0;

    #img_18116 {
      -webkit-animation: puff-in-center 2000ms 0ms ease 1 both;
      animation: puff-in-center 2000ms 0ms ease 1 both;
    }
    #img_16935.bnfy-enter {
      -webkit-animation: fade-in-top 1500ms 0ms ease 1 both;
      animation: fade-in-top 1500ms 0ms ease 1 both;
    }
    #img_25016 {
    -webkit-animation: fade-in-bottom 1500ms 0ms ease 1 both;
    animation: fade-in-bottom 1500ms 0ms ease 1 both;
    }
    .img_28914.bnfy-enter {
      -webkit-animation: fade-in 900ms 1000ms ease 1 both, simple-hide 0ms 2100ms both;
      animation: fade-in 900ms 1000ms ease 1 both, simple-hide 0ms 2100ms both;
    }
    .img_28914.bnfy-exit {
      -webkit-animation: fade-out-top 1000ms 2100ms ease 1 both, simple-show 0ms 2100ms both;
      animation: fade-out-top 1000ms 2100ms ease 1 both, simple-show 0ms 2100ms both;
    }
    .img_28917.bnfy-enter {
      -webkit-animation: fade-in 900ms 1000ms ease 1 both, simple-hide 0ms 1800ms both;
      animation: fade-in 900ms 1000ms ease 1 both, simple-hide 0ms 1800ms both;
    }
    .img_28917.bnfy-exit {
      -webkit-animation: fade-out-top 1000ms 1800ms ease 1 both, simple-show 0ms 1800ms both;
      animation: fade-out-top 1000ms 1800ms ease 1 both, simple-show 0ms 1800ms both;
    }
    .img_28918.bnfy-enter {
      -webkit-animation: fade-in 900ms 1000ms ease 1 both, simple-hide 0ms 1500ms both;
      animation: fade-in 900ms 1000ms ease 1 both, simple-hide 0ms 1500ms both;
    }
    .img_28918.bnfy-exit {
      -webkit-animation: fade-out-top 1000ms 1500ms ease 1 both, simple-show 0ms 1500ms both;
      animation: fade-out-top 1000ms 1500ms ease 1 both, simple-show 0ms 1500ms both;
    }

    #img_16994.bnfy-enter {
      -webkit-animation: fade-in-bottom 1300ms 200ms ease 1 both;
      animation: fade-in-bottom 1300ms 200ms ease 1 both;
    }
    #img_274108.bnfy-enter {
      -webkit-animation: none 1000ms 0ms ease 1 both; //Анимация полосы прокрутки
      animation: none 1000ms 0ms ease 1 both;
    }
    #img_176326.bnfy-enter {
      -webkit-animation: none 2000ms 0ms ease 1 both;
      animation: none 2000ms 0ms ease 1 both;
    }
    #img_170128.bnfy-enter {
      -webkit-animation: fade-in-bottom 1500ms 0ms ease 1 both;
      animation: fade-in-bottom 1500ms 0ms ease 1 both;
    }
    #img_170127.bnfy-enter {
      -webkit-animation: fade-in-top 1500ms 0ms ease 1 both;
      animation: fade-in-top 1500ms 0ms ease 1 both;
    }
    #img_274121.bnfy-enter {
      -webkit-animation: none 1000ms 0ms ease 1 both;
      animation: none 1000ms 0ms ease 1 both;
    }
    #img_274135.bnfy-enter {
    -webkit-animation: none 1000ms 0ms ease 1 both;
    animation: none 1000ms 0ms ease 1 both;
    }
    #img_276261.bnfy-enter {
      -webkit-animation: fade-in 1500ms 0ms ease 1 both;
      animation: fade-in 1500ms 0ms ease 1 both;
    }
    #img_170173 {
      -webkit-animation: scale-fade-up 2000ms 0ms ease 1 both;
      animation: scale-fade-up 2000ms 0ms ease 1 both;
    }
    #img_172219.bnfy-enter {
      -webkit-animation: fade-in-bottom 1500ms 0ms ease 1 both;
      animation: fade-in-bottom 1500ms 0ms ease 1 both;
    }
    #img_172218.bnfy-enter {
      -webkit-animation: fade-in-top 1500ms 0ms ease 1 both;
      animation: fade-in-top 1500ms 0ms ease 1 both;
    }
    #img_172203.bnfy-enter {
      -webkit-animation: none 2000ms 0ms ease 1 both;
      animation: none 2000ms 0ms ease 1 both;
    }
    #img_274166.bnfy-enter {
    -webkit-animation: none 1000ms 0ms ease 1 both;
    animation: none 1000ms 0ms ease 1 both;
    }
    #el_176375 {
      -webkit-animation: none 1000ms 0ms ease 1 both;
      animation: none 1000ms 0ms ease 1 both;
    }
    #img_620.bnfy-enter {
      -webkit-animation: fade-in 1000ms 500ms ease 1 both;
      animation: fade-in 1000ms 500ms ease 1 both;
    }
    #img_621.bnfy-enter {
      -webkit-animation: fade-in 1000ms 1000ms ease 1 both;
      animation: fade-in 1000ms 1000ms ease 1 both;
    }
    #img_622.bnfy-enter {
      -webkit-animation: fade-in 1000ms 1500ms ease 1 both;
      animation: fade-in 1000ms 1500ms ease 1 both;
    }

    #el_25342{
      -webkit-animation: fade-in-bottom 1000ms 2300ms ease 1 both;
      animation: fade-in-bottom 1000ms 2300ms ease 1 both;
    }
    #img_176411.bnfy-enter {
      -webkit-animation: none 3500ms 0ms ease 1 both;
      animation: none 3500ms 0ms ease 1 both;
    }
    #img_276274.bnfy-enter {
      -webkit-animation: fade-in-bottom 1000ms 2000ms ease 1 both;
      animation: fade-in-bottom 1000ms 2000ms ease 1 both;
    }
    #img_276272.bnfy-enter {
      -webkit-animation: fade-in-bottom 1000ms 1500ms ease 1 both;
      animation: fade-in-bottom 1000ms 1500ms ease 1 both;
    }

    #img_71.bnfy-enter {
      -webkit-animation: fade-in-bottom 1000ms 500ms ease 1 both;
      animation: fade-in-bottom 1000ms 500ms ease 1 both;
    }

    #img_72.bnfy-enter {
      -webkit-animation: fade-in-top 1000ms 0ms ease 1 both;
      animation: fade-in-top 1000ms 0ms ease 1 both;
    }
    #img_73.bnfy-enter {
      -webkit-animation: fade-in-bottom 1000ms 900ms ease 1 both;
      animation: fade-in-bottom 1000ms 900ms ease 1 both;
    }
    #img_74.bnfy-enter {
      -webkit-animation: fade-in-bottom 1000ms 1400ms ease 1 both;
      animation: fade-in-bottom 1000ms 1400ms ease 1 both;
    }
    #img_75.bnfy-enter {
      -webkit-animation: fade-in-bottom 1000ms 1900ms ease 1 both;
      animation: fade-in-bottom 1000ms 1900ms ease 1 both;
    }
    #img_76.bnfy-enter {
      -webkit-animation: fade-in-bottom 1000ms 2400ms ease 1 both;
      animation: fade-in-bottom 1000ms 2400ms ease 1 both;
    }
    #img_174277 {
      -webkit-animation: scale-fade-up 4500ms 0ms ease 1 both;
      animation: scale-fade-up 4500ms 0ms ease 1 both;
    }
    #img_275240.bnfy-enter {
      -webkit-animation: none 1000ms 0ms ease 1 both;
      animation: none 1000ms 0ms ease 1 both;
    }
    #img_176351.bnfy-enter {
      -webkit-animation: none 1000ms 0ms ease 1 both;
      animation: none 1000ms 0ms ease 1 both;
    }
    #img_176363.bnfy-enter {
      -webkit-animation: none 1000ms 0ms ease 1 both;
      animation: none 1000ms 0ms ease 1 both;
    }
    #img_176356.bnfy-enter {
      -webkit-animation: none 1000ms 0ms ease 1 both;
      animation: none 1000ms 0ms ease 1 both;
    }
    #img_276282.bnfy-enter {
      -webkit-animation: none 3000ms 0ms ease 1 both;
      animation: none 3000ms 0ms ease 1 both;
    }
    #img_29017.bnfy-enter {
      -webkit-animation: none 1000ms 0ms ease 1 both;
      animation: none 1000ms 0ms ease 1 both;
    }
    #img_29013.bnfy-enter {
      -webkit-animation: none 3000ms 0ms ease 1 both;
      animation: none 3000ms 0ms ease 1 both;
    }
    #img_176364.bnfy-enter {
      -webkit-animation: fade-in-bottom 1000ms 1000ms ease 1 both;
      animation: fade-in-bottom 1000ms 1000ms ease 1 both;
    }
    #img_176355.bnfy-enter {
      -webkit-animation: none 1000ms 0ms ease 1 both;
      animation: none 1000ms 0ms ease 1 both;
    }
    #img_176330.bnfy-enter {
      -webkit-animation: fade-in-top 1000ms 0ms ease 1 both;
      animation: fade-in-top 1000ms 0ms ease 1 both;
    }
    #img_176329.bnfy-enter {
      -webkit-animation: fade-in 1000ms 0ms ease 1 both;
      animation: fade-in 1000ms 0ms ease 1 both;
    }
    #img_275220.bnfy-enter {
      -webkit-animation: none 1000ms 0ms ease 1 both;
      animation: none 1000ms 0ms ease 1 both;
    }
  }

  }

@media (print), (prefers-reduced-motion: reduce) {
  .banner__element {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}
@-webkit-keyframes simple-show {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes simple-show {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@-webkit-keyframes simple-hide {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes simple-hide {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1
  }
}
@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
  }
}
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@keyframes fade-in {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@-webkit-keyframes fade-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
  }
  to {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0
  }
}
@keyframes fade-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
  }
  to {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0
  }
}
@-webkit-keyframes scale-fade-up {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 0;
  }
  20% {
    opacity: 1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  80% {
    opacity: 1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 1;
  }
}
@keyframes scale-fade-up {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 0;

  }
  20% {
    opacity: 1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  80% {
    opacity: 1;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    opacity: 1;
  }
}




